@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Light.woff2);
  font-weight: 300;
}