@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'formular';
  src: url(../fonts/Formular-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-ExtraBold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-ExtraLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/Metropolis-Thin.woff2);
  font-weight: 100;
}