mixin link(page, link, text)
  li 
    if page === link
      a(href="#!").header__link.current= text 
    else
      a(href="pages" + "/"+link+".html").header__link= text  


mixin nav(page)
  nav.header__nav.container 
    a(href="")
      img(src="images/logo.webp" alt="Sparrow")
    button.header__button 
      span.header__button-line
    ul.header__list 
      each item in [{link: 'gallery', text:'Каталог'},{link: 'service', text:'Сервис'},{link: 'articles', text:'Статьи'},{link: 'about', text:'О нас'}]
        +link(page, item.link, item.text) 
    a(href="pages/contact.html").header__btn Контакты