mixin nav(page)
  nav.header__nav.container 
    a(href="/index.html")
      img(src="images/logo.webp" alt="Sparrow")
    button.header__button 
      span.header__button-line
    ul.header__list 
      div.header__link__df
        i.fas.fa-th 
        p.header__link Каталог
      .gallery__menu 
        a(href="pump.html").gallery__menu__link.gallery__menu__yellow Насосное оборудование
        div 
          a(href="shredders.html").gallery__menu__link.gallery__menu__purple Измельчители
          a(href="#!").gallery__menu__link.gallery__menu__red Комплектующие
            div

      a(href="service.html").header__link Сервис
      a(href="articles.html").header__link Статьи
      a(href="convertor.html").header__link.dn Конвертор
      a(href="about.html").header__link О нас
      a(href="contact.html").header__btn Контакты