mixin pagination()
  .articles__pagination__btns
    a(href="#!").articles__pagination__btn.current 1
    a(href="#!").articles__pagination__btn 2
    a(href="#!").articles__pagination__btn 3
    a(href="#!").articles__pagination__btn 4
    a(href="#!").articles__pagination__btn 5
  a(href="#!").articles__pagination__more Показать еще 