@import 'layout/root';
@import 'layout/font';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  background: #F2F2F2;
}

a{
  text-decoration: none;
}

.header {
  background: rgba(242, 242, 242, 0.9);
  font-family: 'formular';
  border-bottom: 1px solid #BDBDBD;

  &__btn{
    background: #9E9DCB;
    color: #fff;
    border-radius: 3px;
    transition: 150ms ease-in-out;
    padding: 11px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 14px;

    @include media($lg){
      margin-left: 0;
    }

    &:hover{
      background: #FFC466;
      color: #333;
    }
  }

  &__nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;

    @include media($lg) {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 200px;
      left: 0;
      background: #fff;
      padding-top: 50px;
      flex-direction: column;
      transform: translateX(-100%);
      transition: 0.5s transform;
      z-index: 1000;
      
      &.open{
        transform: translateX(0);
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: #343358;
    transition: 0.5s color;
    margin-right: 36px;
    font-family: 'formular';

    &__df{
      display: flex;
      align-items: flex-end;

      @include media($lg){
        align-items: flex-start;
      }

      i{
        margin-right: 8px;
        color: #4F4F4F;
        margin-bottom: 1px;
        margin-top: 0;

        @include media($lg){
          margin-bottom: 0;
          margin-top: 3px;
        }
      }
    }
    
    @include media($lg){
      margin-bottom: 15px;
      display: block;
      font-weight: 900;
      margin-right: 0;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    
    @include media($lg){
      display: block;
      background: #9E9DCB;
      border-radius: 3px;
    }
    
    &.open{
      .header__button-line,
      &::before{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &::before,
    &::after,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 7.5px;
      width: 25px;
      height: 2px;
      background: white;
    }

    &::before {
      top: 30%;
    }

    &::after {
      bottom: 30%;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.intro{



  &__img{
    width: 100%;
    object-fit: cover;
  }

  &__content{
    margin-top: -5px;
    background: linear-gradient(180deg, #9E9DCB 59.09%, rgba(158, 157, 203, 0) 100%);

    @include media($lg){
      background: #9E9DCB;
    }

    &__bg{
      max-width: 100%;
      width: 100%;

      @include media($lg){
        margin-top: 20px;
        background: linear-gradient(180deg, #9E9DCB 59.09%, rgba(158, 157, 203, 0) 100%);
      }
    }

    &__left__side{

      &__p{
        font-family: 'formular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #F2F2F2;
        opacity: 0.7;
        margin-top: 72px;
        margin-bottom: 40px;

        @include media($md){
          font-size: 14px;
          margin-top: 100px;
          margin-bottom: 50px;
        }
      }

      &__btn{
        font-family: 'formular', 'Proxima Nova';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #9E9DCB;
        padding: 16px 46px;
        background: #FFC466;
        border-radius: 3px;
        transition: 200ms ease-in-out;


        &:hover{
          border: 1px solid #FFC466;
          background: none;
          color: #FFC466;
        }
      }
    }

    &__right__side{
      order: -1;

      &__p{
        font-family: 'Proxima Nova', 'formular';
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 120%;
        color: #FFC466;
        margin-top: 45px;

        @include media($lg){
          font-size: 40px;
        }

        @include media($md){
          font-size: 30px;
        }

        @include media($sm){
          font-size: 19px;
        }
      }
    }
  }
}

.slider{
  margin-top: 100px;
  margin-bottom: 100px;

  &__title{
    font-style: 400;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    color: #4F4F4F;
    max-width: 360px;
    font-family: 'Proxima Nova', 'formular';
    margin-bottom: 61px;

    @include media($lg){
      font-size: 30px;
    }
    @include media($md){
      font-size: 19px;
    }
  }

  &__inner{
    
  }
}

.slick-track{
  display: flex;
}
.slick-list{
  overflow: hidden;
}

.footer{
  background: #9E9DCB;
  z-index: 1;
  font-family: 'formular', sans-serif;

  &__map{
    max-width: 100%;
    width: 100%;
    margin-bottom: -5px;
    border: none;
    border-top: 1px solid #FFC466;
  }

  &__list{
    list-style: none;
    display: flex;

    
    @include media($xl){
      padding-bottom: 77px;
      flex-wrap: wrap;
    }
  }

  &__right__side{

    @include media($lg){
      order: -1;
      margin-bottom: 100px;
    }
  }

  &__els{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__first{
      max-width: 800px;
      width: 100%;
      height: 56px;
      z-index: 1;
      background: #A6718F;
    }

    &__second{
      max-width: 770px;
      width: 100%;
      height: 29px;
      background: #FFC466;
      margin-left: -200px;
      z-index: 1;
    }
  }

  &__title{
    padding-top: 30px;
    color: #FFC466;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 120%;
    color: #FFC466;
    padding-bottom: 29px;

    @include media($lg){
      font-size: 40px;
    }
    @include media($md){
      font-size: 30px;
      margin-bottom: 21px;
    }
  }

  &__item{
    margin-bottom: 17px;

    &__title{
      margin-bottom: 20px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFC466;
    }

    &__side{
      display: flex;
      flex-direction: column;
    }
  }

  &__link{
    font-family: 'formular';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 8px;
  }

  &__form{
    display: flex;
    flex-direction: column;

    &__input{
      opacity: 0.7;
      border: 1px solid #D8E2DD;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 15px 24px;
      font-family: 'formular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #F2F2F2;
      margin-bottom: 15px;
      background: #9E9DCB;

      &::placeholder{
        color: #F2F2F2;
      }

      &:focus{
        opacity: 1;
        color: #FFFFFF;
      }
    }

    &__btn{
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #F2F2F2;
      max-width: 200px;
      width: 100%;
      background: #9E9DCB;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'formular';
      padding: 16px 0;
      cursor: pointer;
      margin-top: 35px;
      transition: 200ms ease-in-out;
      margin-bottom: 29px;

      &:hover{
        background: #F2F2F2;
        color: #333;
      }
    }
  }

  &__checkbox__item{
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__checkbox{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 30px;
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;

    &:checked{
      border: 1px solid #E0E0E0;
      background-color: #FFC466;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before{
        font-family: "Font Awesome 5 Brands"; 
        font-weight: 900;
        content: '\ff00';
        color: #fff;
      }
    }

    &__p{
      text-transform: uppercase;
      font-family: 'formular';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #F2F2F2;
    }
  }

  &__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    
    @include media($xl){
      display: flex;
      flex-direction: column;
      padding-top: 0px;
      padding-left: 15px;
    }
  }

  &__nav{
    background: #FFC466;

    &__logo{

      @include media($xl){
        display: none;
      }
    }


    &__social{
      

      @include media($lg){
        a:first-of-type{
          display: none;
        }
      }

      &__i{
        font-size: 24px;
        margin-right: 64px;
        color: #333;
        position: relative;
      }
    }

    &__logo{
      margin-right: 50px;
    }

    &__link{
      font-family: 'formular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #4F4F4F;
      margin-right: 32px;

      @include media($xl){
        padding-top: 30px;
        display: block;
      }
    }
  }
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

//service 

.title{
  font-style: 400;
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #4F4F4F;
  max-width: 360px;
  font-family: 'Proxima Nova', 'formular';
  margin-bottom: 61px;

  @include media($lg){
    font-size: 30px;
  }
  @include media($md){
    font-size: 19px;
  }
}

.service{
  padding-top: 86px;
  background: url(../images/service-bg.webp) center / cover no-repeat;
  margin-bottom: -55px;
  padding-bottom: 100px;

  &__intro{

    &__desc{
      font-family: 'formular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #4F4F4F;
      opacity: 0.7;
    }

    &__right__side{
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &__btn{
      background: #9E9DCB;
      border-radius: 3px;
      font-family: 'Proxima Nova', 'formular';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #FFC466;
      padding: 16px 61px;
      margin-top: 114px;
      transition: 200ms ease-in-out;

      &:hover{
        background: #FFC466;
        color: #343358;
      }

      @include media($lg){
        margin-bottom: 70px;
      }
    }
  }
  &__items{

    &__right__side{
      margin-top: 125px;

      @include media($lg){
        margin-top: 0;
      }
    }
      
    &__item{
      background: linear-gradient(102.89deg, rgba(51, 51, 51, 0.4) 4.01%, rgba(51, 51, 51, 0.4) 4.02%, rgba(51, 51, 51, 0.1) 78.63%);
      backdrop-filter: blur(8px);
      border-radius: 6px;
      max-width: 370px;
      height: 300px;
      margin-bottom: 30px;
      padding: 30px 25px;

      &__title{
        font-family: 'formular';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #F2F2F2;
        margin-bottom: 12px;
      }

      &__desc{
        font-family: 'formular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #F2F2F2;
        opacity: 0.7;
      }
    }
  }
}
.about{
  display: flex;
  flex-direction: column;

  .row:first-child{
    order: 1;
  }

  &__title{
    max-width: 276px;
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
  }

  &__item{

    &__with-img{
      margin-top: -116px;
      position: relative;

      @include media(1400){
        margin-top: -50px;
      }
      @include media(992){
        margin-top: 0;
      }

      &::after{
        content: '';
        position: absolute;
        background: #FFC466;
        width: 10px;
        height: 50px;
        right: 100px;
        bottom: 0;
        z-index: 1;
      }

      h1{
        margin-left: 100px;
        padding-top: 300px;
      }

      img{
        position: absolute;
        right: 0;
        margin-left: -200px;
        z-index: -1;
        height: 100%;
        object-fit: cover;

        @include media($xxl){
          margin-left: 0;
          left: 0;
          right: 0;
          max-width: 100%;
        }
      }
    }

    &__yellow{
      background: #FFC466;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        background: #4F4F4F;
        width: 10px;
        height: 50px;
        right: 80px;
        bottom: 0;
        z-index: 1;
      }
      &::after{
        content: '';
        position: absolute;
        background: #4F4F4F;
        width: 10px;
        height: 50px;
        right: 100px;
        bottom: 0;
        z-index: 1;
      }

      &__p{
        font-family: 'formular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #4F4F4F;
        opacity: 0.7;
        margin: 25px 36px 50px 100px;

        @include media(992){
          margin-left: 25px;
        }
      }

      &__btn{
        background: #9E9DCB;
        border-radius: 3px;
        margin-left: 100px;
        font-family: 'formular';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFC466;
        max-width: 200px;
        padding: 16px 46px;
        margin-bottom: 68px;

        @include media(992){
          text-align: center;
          margin: 50px auto;
        }
      }

      &__title{
        margin-left: 100px;

        @include media(992){
          margin-left: 25px;
        }
      }
    }

    &__with-img_2{
      background: url(../images/about-item-2.webp) center / cover no-repeat;
      margin-left: -50px;
      height: 400px;
      position: relative;
      min-width: 600px;

      @include media(1450){
        margin-left: 0;
        min-width: 0;
      }

      &::before{
        content: '';
        position: absolute;
        background: #FFC466;
        width: 10px;
        height: 50px;
        right: 80px;
        bottom: 0;
        z-index: 1;
      }
      &::after{
        content: '';
        position: absolute;
        background: #FFC466;
        width: 10px;
        height: 50px;
        right: 100px;
        bottom: 0;
        z-index: 1;
      }

      h1{
        margin-top: 236px;
        margin-left: 105px;

        @include media(1200){
          margin-left: 50px;
          margin-top: 50px;
        }
      }
    }

    &__violete{
      background: #9E9DCB;
      padding: 40px 48px 61px;
      z-index: 1;

      p{
        font-family: 'formular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #F2F2F2;
        opacity: 0.7;
        margin: 0 30px;
      }
    }

    &__title{
      color: #FFC466;
    }

    &-text{

      &:first-child{
        
        .about__item-text__p{
          margin-top: -120px;

          @include media(1200){
            margin-top: -200px;
          }
          @include media(992){
            margin-top: 25px;
          }
        }
      }

      &__p{
        font-family: 'formular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #4F4F4F;
        opacity: 0.7;
        margin-top: 33px;
        margin-bottom: 200px;

        @include media(992){
          margin-bottom: 25px;
          margin-top: 0;
        }
      }
    }
  }
}

//articles

.articles{

  &__title{
    font-family: 'formular';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    color: #4F4F4F;
    max-width: 869px;
    margin-top: 50px;
    margin-bottom: 109px;

    &__span{
      font-weight: 900;
    }
  } 
}