doctype html
html(lang="en")
  include components/head.pug
  +head('About')
  body 
    header.header
      include components/header.pug
      +nav('about')

    .about.container 
      h1.title.about__title История нашей команды
      .row 
        .col-12.col-lg-5.about__item.about__item__violete
          p.about__item__p Мы работаем исключительно напрямую с производителями оборудования избегая каких-либо посреднических контактов. Благодаря этому  Вы всегда получаете  выгодное  ценовое предложение на оборудование, качество которого подтверждается всеми необходимыми сертификатами и оправдывается долгими годами  эксплуатации.
        .col-12.col-lg-7.about__item.about__item__with-img
          img(src="images/about-item-1.webp", alt="")
          h1.title.about__item__title 100+ реализованных проектов.
      .row  
        .col-12.col-lg-5.about__item.about__item__with-img_2
          h1.title.about__item__title правильное техническое решения
        .col-12.col-lg-7.about__item.about__item__yellow
          p.about__item__yellow__p Не смотря на то, что наша компания относительно недавно на появилась на промышленном рынке Украины — с 2017 года, наши специалисты имеют большой опыт работы в области промышленного оборудования — более 10 лет. За столь короткий срок у нас более 100 реализованных проектов.
          a(href="#!").about__item__yellow__btn Консультация
          h1.title.about__item__yellow__title самые востребованные запчасти
          div.about__item__abs
      .row 
        .col-12.col-lg-5.about__item.about__item-text
          p.about__item-text__p Мы осознаем важность правильного технического решения для той или иной задачи в выборе технического оборудования. Наши специалисты в кротчайшие сроки помогут Вам подобрать насосное оборудование или арматуру по вашему техническому заданию. Открыто и честно озвучат все сильные и слабые места  того или иного производителя.
        .col-12.col-lg-7.about__item.about__item-text.mb-5
          p.about__item-text__p Мы понимаем что такое производство и чем грозит его остановка в связи с отсутствием необходимых запчастей. Именно для таких «аварийных» случаев мы регулярно пополняем склад и готовы отгрузить самые востребованные запчасти в кротчайшие сроки. Для избежания таких случаев, наши специалисты осуществляют регулярное сервисное обслуживание поставляемого оборудования по вашему требованию.

    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('about')