doctype html
html(lang="en")
  include components/head.pug
  +head('Andritz')
  body 
    header.header
      include components/header.pug
      +nav('about')
    .pump__product-intro
      .pump__product-intro__top 
        .pump__product-intro__category.container 
          a(href="pump.html").pump__product-intro__category__handler Насосы /
          a(href="#!").pump__product-intro__category__current Центробежные насосы  
        .container
          h1.pump__product-intro__title ЦЕНТРОБЕЖНЫЕ НАСОСЫ ANDRITZ
    .pump__product-content.row 
      .col-12.col-lg-6.pump__product-content__left
        p.pump__product-content__left__desc Официальный дистрибьютор насосного оборудования Andritz на территории Украины
        img(src="images/andritz-2.webp", alt="pump andritz").pump__product-content__left__img
      .col-12.col-lg-6.pump__product-content__right 
        .pump__product-content__right__top
          .container
            img(src="images/andritz.webp", alt="pump andritz").pump__product-content__right__top__img
        .pump__product-content__right__bottom
          a(href="#!").pump__product-content__right__bottom__btn скачать каталог
          a(href="contact.html").pump__product-content__right__bottom__btn.current Cвязаться с нами
    .pump__downloads.container
      h1.pump__downloads__title Каталоги для скачивания
      .row.pump__downloads__content
        .col-12.col-lg-4.pump__downloads__content__item.pump__downloads__content__item__yellow
          i.far.fa-file.pump__downloads__content__item__i
          p.pump__downloads__content__item__p Насосы для водоснабжения и водоотвода
        .col-12.col-lg-4.pump__downloads__content__item.pump__downloads__content__item__red
          i.far.fa-file.pump__downloads__content__item__i
          p.pump__downloads__content__item__p Насосы для сахарной промышленности
        .col-12.col-lg-4.pump__downloads__content__item.pump__downloads__content__item__purple
          i.far.fa-file.pump__downloads__content__item__i
          p.pump__downloads__content__item__p Насосы для целлюлозно - бумажной промышленности

    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('about')