doctype html
html(lang="en")
  include components/head.pug
  +head('Eccentric Mouvex Pump')
  body 
    header.header
      include components/header.pug
      +nav('about')
    .pump__product-intro#top
      .pump__product-intro__top 
        .pump__product-intro__category.container 
          a(href="pump.html").pump__product-intro__category__handler Насосы /
          a(href="#!").pump__product-intro__category__current Шиберные насосы
        .container
          h1.pump__product-intro__title ШИБЕРНЫЕ НАСОСЫ BLACKMER
    .pump__product-content.row 
      .col-12.col-lg-6.pump__product-content__left
        p.pump__product-content__left__desc Официальный дистрибьютор насосного оборудования Blackmer на территории Украины
        img(src="images/blackmer-2.webp", alt="pump andritz").pump__product-content__left__img
      .col-12.col-lg-6.pump__product-content__right 
        .pump__product-content__right__top
          img(src="images/blackmer-3.webp", alt="pump andritz").pump__product-content__right__top__img
        .pump__product-content__right__bottom.mouvex__product-content__right__bottom
          a(href="#!").pump__product-content__right__bottom__btn скачать каталог
          a(href="contact.html").pump__product-content__right__bottom__btn.current Cвязаться с нами
    .pump__advantages
      .container
        h1.title.pump__advantages__title Основные преимущества насосов Blackmer
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Шиберные насосы Серии HXL предназначены для перекачки жидкостей с широким диапазоном вязкостей и плотностей. Специально разработанные для тяжелых условий эксплуатации и непрерывной работы насосы способны выдерживать широкие тепловые изменения, гидроудары и другие значительные нагрузки.
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Насосы оснащены сменными изнашиваемыми деталями, такими как шиберы, износостойкая гильза и торцевые диски, что позволяет легко восстановить насос до нового состояния, даже не снимая насос с трубопровода и предотвращая дорогостоящие простои.
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Три вида шиберов насоса HXL позволяют перекачивать жидкости с широким диапазоном вязкостей от 0,2 до 22.000 сСт, давая возможность одним насосом перекачивать например бензин и мазут или подсолнечное масло и мелассу. 
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Все модели HXL оснащаются предохранительными клапанами предназначенными для защиты насоса от избыточного давления. Версия с рубашкой обогрева доступна в 8-дюймовом размере. 
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Конструкция шиберных насосов и низкая скорость вращения вала позволяет насосам HXL продолжительно работать в сухом режиме без жидкости, в режиме самовсасывания с глубины до 7.7 метров, полностью извлекать продукт и очищать трубопроводы.
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Насосы HXL используются для широких областей применения для перекачки жидкостей в резервуарных парках хранения жидкостей, разгрузки барж, судов и железнодорожных составов, а также во многих других применениях.
    .ryad.container 
      h1.title Модельный ряд насосов Blackmer
      .row.ryad__line
        .col-12.col-lg-6.ryad__line__img-parent
          img(src="images/blackmer-4.webp", alt="").ryad__img
        .col-12.col-lg-6.ryad__item
          p.ryad__item__title HXL 6
          .ryad__item__childrens 
            .ryad__item__child
              p.ryad__item__child__title Номинальная производительнось
              p.ryad__item__child__desc 341 - 2,839 л/мин
            .ryad__item__child
              p.ryad__item__child__title Вязкость
              p.ryad__item__child__desc 22,000 сСт
            .ryad__item__child
              p.ryad__item__child__title Максимальная температура
              p.ryad__item__child__desc -32 °С - 204 °С
            .ryad__item__child
              p.ryad__item__child__title Мин/Макс Об/мин
              p.ryad__item__child__desc 45 - 350
            .ryad__item__child
              p.ryad__item__child__title Макс.рабочее давление
              p.ryad__item__child__desc 10,3 бар
            .ryad__item__child
              p.ryad__item__child__title Дифференциальное давление.Макс.
              p.ryad__item__child__desc 8,6 бар
      .row.ryad__line
        .col-12.col-lg-6.ryad__line__img-parent
          img(src="images/blackmer-5.webp", alt="").ryad__img
        .col-12.col-lg-6.ryad__item
          p.ryad__item__title HXL 8
          .ryad__item__childrens 
            .ryad__item__child
              p.ryad__item__child__title Номинальная производительнось
              p.ryad__item__child__desc 549 - 4,505 л/мин
            .ryad__item__child
              p.ryad__item__child__title Вязкость
              p.ryad__item__child__desc 22,000 сСт
            .ryad__item__child
              p.ryad__item__child__title Максимальная температура
              p.ryad__item__child__desc -32 °С - 204 °С
            .ryad__item__child
              p.ryad__item__child__title Мин/Макс Об/мин
              p.ryad__item__child__desc 45 - 350
            .ryad__item__child
              p.ryad__item__child__title Макс.рабочее давление
              p.ryad__item__child__desc 17,2 бар
            .ryad__item__child
              p.ryad__item__child__title Дифференциальное давление.Макс.
              p.ryad__item__child__desc 10,3 бар
      .row.ryad__line
        .col-12.col-lg-6.ryad__line__img-parent
          img(src="images/blackmer-6.webp", alt="").ryad__img
        .col-12.col-lg-6.ryad__item
          p.ryad__item__title HXL 10
          .ryad__item__childrens 
            .ryad__item__child
              p.ryad__item__child__title Номинальная производительнось
              p.ryad__item__child__desc 1,628 - 7,874 л/мин
            .ryad__item__child
              p.ryad__item__child__title Вязкость
              p.ryad__item__child__desc 22,000 сСт
            .ryad__item__child
              p.ryad__item__child__title Максимальная температура
              p.ryad__item__child__desc -32 °С - 204 °С
            .ryad__item__child
              p.ryad__item__child__title Мин/Макс Об/мин
              p.ryad__item__child__desc 45 - 350
            .ryad__item__child
              p.ryad__item__child__title Макс.рабочее давление
              p.ryad__item__child__desc 17,2 бар
            .ryad__item__child
              p.ryad__item__child__title Дифференциальное давление.Макс.
              p.ryad__item__child__desc 10,3 бар
    .pump__cart 
      h1.pump__cart__title ПРИМЕНЕНИЕ
      p.pump__cart__p Ознакомтесь с информацией о правилах применения и технических особенностях продукции
      a(href="#!").pump__cart__btn Ознакомиться       
    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('home')