doctype html
html(lang="en")
  include components/head.pug
  +head('Borger')
  body 
    header.header
      include components/header.pug
      +nav('about')
    .pump__product-intro#top
      .pump__product-intro__top 
        .pump__product-intro__category.container 
          a(href="pump.html").pump__product-intro__category__handler Насосы /
          a(href="borger.html").pump__product-intro__category__handler Роторные насосы /
          a(href="#!").pump__product-intro__category__current Серия Blueline
        .container
          h1.pump__product-intro__title Серия Blueline
          p.pump__product-content__left__desc.blueline__intro__p Официальный дистрибьютор насосного оборудования Börger на территории Украины
    .pump__product-content.row 
      .col-12.col-lg-6.pump__product-content__left.blueline__intro__red
        p.pump__product-content__left__desc.blueline__intro__p Компания  Börger — это процветающая и динамично  развивающее  предприятие, которое начало свою работу еще в 1975 году и на сегодняшний день насчитывающее более чем 330 сотрудников. Главный офис находится в городе Боркен-Везеке, Германия. Основным направлением компании Бёргер  является производство роторно-лопастных насосов для  перекачки высоко вязкостной и абразивной среды.
      .col-12.col-lg-6.pump__product-content__right 
        .pump__product-content__right__top.blueline__intro__mtdiv
          .container
            img(src="images/borger-1.webp", alt="pump borger").pump__product-content__right__top__img
        .pump__product-content__right__bottom.blueline__intro__yellow
          p.pump__product-content__left__desc.blueline__intro__yellow__p Кроме того, фирма  Бёргер  выпускает широкий ассортимент других товаров, таких как измельчители, резервуары, мобильные насосы. При производстве оборудования компания Boerger соблюдает свои  основные принципы — объединяет износостойкость и простоту технического обслуживания. 
      .blueline__category.container
        h1.title.blueline__category__title Модельный ряд серии Blueline
        .blueline__category__content.row 
          .col-12.col-xl-2.blueline__category__item.blueline-1 
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП AL
          .col-12.col-xl-2.blueline__category__item.blueline-2.current
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП PL
          .col-12.col-xl-2.blueline__category__item.blueline-3
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП CL
          .col-12.col-xl-2.blueline__category__item.blueline-4
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП FL
          .col-12.col-xl-2.blueline__category__item.blueline-5
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП EL
          .col-12.col-xl-2.blueline__category__item.blueline-6
            p.blueline__category__item__p СЕРИЯ BLUELINE ТИП XL
        .blueline__dynamic


    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js") 
    script(src="scripts/blueline.js") 
    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('about')