doctype html
html(lang="en")
  include components/head.pug
  +head('Gate Mouvex Pump')
  body 
    header.header
      include components/header.pug
      +nav('about')
    .pump__product-intro#top
      .pump__product-intro__top 
        .pump__product-intro__category.container 
          a(href="pump.html").pump__product-intro__category__handler Насосы /
          a(href="#!").pump__product-intro__category__current Шиберные насосы
        .container
          h1.pump__product-intro__title ШИБЕРНЫЕ НАСОСЫ MOUVEX
    .pump__product-content.row 
      .col-12.col-lg-6.pump__product-content__left
        p.pump__product-content__left__desc Официальный дистрибьютор насосного оборудования Mouvex на территории Украины
        img(src="images/gate-mouvex-2.webp", alt="pump andritz").pump__product-content__left__img
      .col-12.col-lg-6.pump__product-content__right 
        .pump__product-content__right__top
          img(src="images/gate-mouvex-1.webp", alt="pump andritz").pump__product-content__right__top__img
        .pump__product-content__right__bottom.mouvex__product-content__right__bottom
          a(href="#!").pump__product-content__right__bottom__btn скачать каталог
          a(href="contact.html").pump__product-content__right__bottom__btn.current Cвязаться с нами
    .pump__advantages
      .container
        h1.title.pump__advantages__title Основные преимущества насосов Mouvex
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p C марта 2020 наша компания ПРАЙТЕК имеет возможность предлагать своим клиентам оборудование производства французского завода MOUVEX.  Данное предприятие было основано 1906 году и является частью корпорации PSG.
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p На сегодняшний день компания Mouvex —  это мировой лидер по производству насосов и компрессоров для перекачивания различных жидкостей, и сухих сыпучих продуктов по всему миру.
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Компания Mouvex® была основана инженером Андре Пети в 1906 году, после изучения проблем, с которыми сталкиваются пользователи шестеренных и роторных насосов при оптимизации своего процесса, в результате чего  был изобретен эксцентриковый дисковый насос.
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Все его преемники пошли по его стопам, включая его сына Альберта, который управлял компанией с 1938 года до тех пор, пока в 1998 году она не была поглощена Blackmer®.
        .pump__advantages__row.row.abaque__advantages__row
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Mouvex стала частью PSG® в 2008 году и в настоящее время работает на пяти континентах с глобальной сетью дистрибьюторов и производителей оригинального оборудования.
          .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
            p.pump__advantages__item__p Шиберный ( пластинчатый) насос – разновидность объёмного насоса, основным органом которого является ротор с подвижными лопастями. 
    .andritz__lineup.container
      h1.title.andritz__lineup__title Модельный ряд
      .row.andritz__lineup.mouvex__lineup <!--Andritz Item ROW Start 1 - ITEM-->
        .col-12.col-lg-5.andritz__lineup__item <!--Andritz Item Start 1 - ITEM-->
          .andritz__lineup__item__visible
            img(src="images/gate-mouvex-2.webp", alt="pump andritz").andritz__lineup__item__visible__img
            p.andritz__lineup__item__visible__p P series
          .mouvex__hidden__item.andritz__lineup__item__hidden
            p.mouvex__hidden__item__title Для продуктов с высокой вязкостью (производительность до 110 м3 /ч)
            p.mouvex__hidden__item__p Пищевая промышленность: растительные масла, животные жиры, растительные жиры, патока, спирты
            p.mouvex__hidden__item__p Энергетическая промышленность: различные виды топлива, бензин, дизель, легкое дистиллятное топливо, тяжёлое мазутное топливо, биодизель, биоэтанол, смазочные материалы, минеральные и синтетические масла
            p.mouvex__hidden__item__p Химическая промышленность: краски, лаки, растворители, смолы, метанол, этанол, примеси, различные химические вещества
        .col-12.col-lg-5.andritz__lineup__item <!--Andritz Item Start 2 - ITEM-->
          .andritz__lineup__item__visible
            img(src="images/gate-mouvex-1.webp", alt="pump andritz").andritz__lineup__item__visible__img
            p.andritz__lineup__item__visible__p SLP series
          .mouvex__hidden__item.andritz__lineup__item__hidden
            p.mouvex__hidden__item__title Производительность до 25 м3 / ч 
            p.mouvex__hidden__item__p Идеально подходит для жидких или несмазывающих, вязких и агрессивных жидкостей, включая кислоты, щелочи, растворители и химические вещества.
            p.mouvex__hidden__item__p •Отсутствие уплотнений, отсутствие утечек - отсутствие магнитов, механических уплотнений или набивки
            p.mouvex__hidden__item__p •Вся конструкция из нержавеющей стали
            p.mouvex__hidden__item__p •Сниженное потребление энергии
            p.mouvex__hidden__item__p •Постоянная производительность с течением времени
            p.mouvex__hidden__item__p •Отличные объемные характеристики
            p.mouvex__hidden__item__p •Самовсасывающий
            p.mouvex__hidden__item__p •Сухой ход
            p.mouvex__hidden__item__p •Возможности удаления строк
            p.mouvex__hidden__item__p •Простое и экономичное обслуживание
            p.mouvex__hidden__item__p •Сертификат ATEX
      .row.andritz__lineup.mouvex__lineup <!--Andritz Item ROW Start 2 - ITEM-->
        .col-12.col-lg-5.andritz__lineup__item <!--Andritz Item Start 1 - ITEM-->
          .andritz__lineup__item__visible
            img(src="images/gate-mouvex-3.webp", alt="pump andritz").andritz__lineup__item__visible__img
            p.andritz__lineup__item__visible__p CC8 series
          .mouvex__hidden__item.andritz__lineup__item__hidden
            p.mouvex__hidden__item__title Пропускная способность до 80 м3 / ч (8 бар)
            p.mouvex__hidden__item__p Пластинчато-роторные насосы Mouvex® серии CC8 - это устанавливаемые на транспортные средства решения для погрузки и разгрузки нефтепродуктов для грузовиков и транспорта. Эти компактные насосы сертифицированы ATEX и оснащены встроенным байпасом, предназначенным для защиты от чрезмерного давления и перегрева.
            p.mouvex__hidden__item__p Повышенная безопасность
            p.mouvex__hidden__item__p •Совместим с дизельным топливом, мазутом, бензином, биодизельным парафином, керосином, мазутом и битумом.
            p.mouvex__hidden__item__p •Двусторонний вал облегчает монтаж и адаптируется к направлению вращения
            p.mouvex__hidden__item__p •Широкий диапазон расхода
            p.mouvex__hidden__item__p •Тихая работа
            p.mouvex__hidden__item__p •Постоянный расход с течением времени
            p.mouvex__hidden__item__p •Возможности удаления строк
        .col-12.col-lg-5.andritz__lineup__item <!--Andritz Item Start 2 - ITEM-->
          .andritz__lineup__item__visible
            img(src="images/gate-mouvex-4.webp", alt="pump andritz").andritz__lineup__item__visible__img
            p.andritz__lineup__item__visible__p CC10 series
          .mouvex__hidden__item.andritz__lineup__item__hidden
            p.mouvex__hidden__item__title Производительность до 42 м3 / ч 
            p.mouvex__hidden__item__p Эти насосы обладают всеми теми же передовыми функциями и преимуществами, что и насосы серии Mouvex CC8, но при этом включают ряд новых усовершенствований, которые  делают Встроенный байпас для предотвращения избыточного давления
            p.mouvex__hidden__item__p •Неиспользуемый конец вала защищен кожухом
            p.mouvex__hidden__item__p •Совместим с биотопливом, биодизелем, мазутом, дизельным топливом и керосином.
            p.mouvex__hidden__item__p •Компактный размер подходит для небольших узких пространств
            p.mouvex__hidden__item__p •Двусторонний вал облегчает монтаж и адаптируется к направлению вращения
            p.mouvex__hidden__item__p •Тихая работа
            p.mouvex__hidden__item__p •Постоянный расход с течением времени
            p.mouvex__hidden__item__p •Возможности удаления строк
    .pump__cart 
        h1.pump__cart__title ПРИМЕНЕНИЕ
        p.pump__cart__p Ознакомтесь с информацией о правилах применения и технических особенностях продукции
        a(href="#!").gate-mouvex__cart__btn Ознакомиться 


    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('about')