doctype html
html(lang="en")
  include components/head.pug
  +head('Krany')
  body 
    header.header
      include components/header.pug
      +nav('home')
    .multichopper__intro#top.seals__intro
      .multichopper__intro__category.container 
        a(href="components.html").pump__product-intro__category__handler Комплектующие /
        a(href="#!").pump__product-intro__category__current.multichopper__intro__category__current Муфты
      .container.row 
        .col-12.col-lg-8.multichopper__left
          h1.title.multichopper__title Муфты Flender
          .multichopper__btns 
            a(href="contact.html").multichopper__btn.current Cвязаться с нами
        .col-12.col-lg-4.multichopper__right
          img(src="images/component-2.webp", alt="").multichopper__img
    .multichopper__bg 
      .pump__advantages.multichopper__advantages
        .container
          h1.title.pump__advantages__title Основные преимущества  Flender
          .pump__advantages__row.row.abaque__advantages__row
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты  N-Eupex и N-Eupex DS — способны компенсировать смещение, конструкция создана по принципу модальности. Включают эластичные элементы, которые необходимо менять по мере износа.
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты  Arpex — используются более чем тридцать лет в самых различных областях. Главное преимущество — не требуют обслуживания. Не только соединяют валы, но еще компенсируют смещение. Производятся из высококлассной стали.
          .pump__advantages__row.row.abaque__advantages__row
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты Bipex — компактный вариант с низким люфтом кручения. Позволяют соединять различные машины.
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты Zapex — обладают высокой способность передачи крутящего момента. Из отличительных свойств – малые габариты, небольшой вес, жидкая смазка. Чаще всего применяются для несоосных валов. Конструкция основана на принципе модульности.
          .pump__advantages__row.row.abaque__advantages__row
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты  Rupex — относятся к упругим муфтам, выдерживают высокие перегрузки. Применяются в приводах, требующих повышенной безопасности.
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты Elpex — отличаются высокой эластичностью, обладают максимальным показателем упругой крутильной деформации. Торсионный люфт отсутствует. Отлично подходят для механизмов с непостоянным крутящим моментом или сильным смещением.
          .pump__advantages__row.row.abaque__advantages__row
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item
              p.pump__advantages__item__p Муфты Fludex — оптимальный вариант для конвейеров, элеваторов, приводов, дробилок или смесителей. Также подходят для промышленных вентиляторов, мельниц и центрифуг.
            .col-12.col-lg-6.pump__advantages__item.abaque__advantages__item.dn
      .andritz__lineup.container.seals__lineup
        h1.title.andritz__lineup__title Модельный ряд
        .row.andritz__lineup.mouvex__lineup <!--Andritz Item ROW Start 1 - ITEM-->
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item.dn <!--Andritz Item Start 1 - ITEM-->

          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item.dn  <!--Andritz Item Start 2 - ITEM-->
            
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item  <!--Andritz Item Start 2 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-1.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Упругие муфты Rupex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Упругие муфты Rupex
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Демпфирование, отказоустойчивое соединение пальца и втулки для средних и высоких крутящих моментов
              p.mouvex__hidden__item__title.seals__lineup__hidden__title  • Количество типоразмеров в серии: 
              p.mouvex__hidden__item__p.seals__lineup__hidden__p 26
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Номинальный момент:
              p.mouvex__hidden__item__p.seals__lineup__hidden__p от 200 Нм до 1,300,000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__title • Рабочая температура:
              p.mouvex__hidden__item__p.seals__lineup__hidden__p от –50 °C до +100 °C
        .row.andritz__lineup.mouvex__lineup <!--Andritz Item ROW Start 1 - ITEM-->
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item <!--Andritz Item Start 1 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-2.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Эластичные муфты N-Eupex и N-Eupex DS
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Эластичные муфты N-Eupex и N-Eupex DS
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • 2 серии N-EUPEX / N-EUPEX DS
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент от 19 Нм до 62 000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура: от –50 °C до +100
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Штыревая муфта N-EUPEX
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 19 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 62000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 23
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -50 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +100
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Штыревая муфта N-EUPEX DS
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 60 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 21200 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +100 °С
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item  <!--Andritz Item Start 2 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-3.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Пластинчатые муфты Arpex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Пластинчатые муфты Arpex
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • 2 серии N-ARPEX / ARPEX ART
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент от 350 Нм до 2 000 000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура: от –50 °C до +280 °C
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Цельностальная муфта N-ARPEX
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 350 Нм 
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 2000000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -50 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +280 °С
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Турбинная муфта ARPEX ART
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 1000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 588500 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 16
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -40 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +280 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Скорость (макс.): 720 км/ч
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item  <!--Andritz Item Start 2 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-4.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Муфты Bipex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Муфты Bipex
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • 2 серии BIPEX-S / N-BIPEX
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент от 0,5 Нм до 4650 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура: от –50 °C до +120 °C
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Сцепная Муфта BIPEX-S
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 0,5 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 10
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -50 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +120
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Сцепная Муфта N-BIPEX
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 12 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 4650 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 10
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -50
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +100 °С
        .row.andritz__lineup.mouvex__lineup <!--Andritz Item ROW Start 1 - ITEM-->
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item <!--Andritz Item Start 1 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-5.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Зубчатые муфты Zapex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Зубчатые муфты Zapex
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • 2 серии ZAPEX ZW / ZAPEX ZN
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент : от 1020 Нм до 7200000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура: от –50 °C до +120 °C
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Зубчатая Муфта ZAPEX ZW
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Двухкомпонентная зубчатая муфта
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 1300 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 7200000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 31
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -20 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +80 °С
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Зубчатая Муфта ZAPEX ZN
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Двухкомпонентная зубчатая муфта
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 1020 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 162500 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 12
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -20 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +80 °С 
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item  <!--Andritz Item Start 2 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-6.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Высокоэластичные муфты Elpex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Гибкая Кольцевая Муфта ELPEX
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Очень гибкая, без люфта, шинная муфта
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 1600 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 90000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 9
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -40 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +80 °С
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Резиновая Шинная Муфта ELPEX-B
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Очень гибкая, без люфта, шинная муфта
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 24 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 14500 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 15
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -50 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +50 °С
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Резиновая Дисковая Муфта ELPEX-S
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (мин): 300 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Номинальный момент (макс): 63000 Нм
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Количество типоразмеров в серии: 17
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (мин): -40 °С
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура (макс): +120 °С
          .col-12.col-lg-4.andritz__lineup__item.seals__lineup__item  <!--Andritz Item Start 2 - ITEM-->
            .andritz__lineup__item__visible
              img(src="images/mufty-7.webp", alt="pump andritz").andritz__lineup__item__visible__img.seals__lineup__img
              p.andritz__lineup__item__visible__p Гидромуфты Fludex
            .mouvex__hidden__item.andritz__lineup__item__hidden.seals__lineup__hidden
              p.mouvex__hidden__item__title.seals__lineup__hidden__title Гидромуфты Fludex
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Гидродинамическая гидромуфта
              p.mouvex__hidden__item__title.seals__lineup__hidden__title • Количество типоразмеров в серии:
              p.mouvex__hidden__item__p.seals__lineup__hidden__p 15
              p.mouvex__hidden__item__title.seals__lineup__hidden__title • Номинальный выход:
              p.mouvex__hidden__item__p.seals__lineup__hidden__p от 1,2 кВт до 2,500 кВт
              p.mouvex__hidden__item__title.seals__lineup__hidden__title • Рабочая температура:
              p.mouvex__hidden__item__p.seals__lineup__hidden__p • Рабочая температура: от –40 °C до +50 °C
      .muft__item.row.container
        .col-12.col-lg-6.muft__item__content
          img(src="images/muft.webp", alt="")
        .col-12.col-lg-6.muft__item__content
          h1.title.muft__item__title Упругие элементы муфт
          a(href="contact.html").multichopper__btn.current Cвязаться с нами

    .footer__els.container
      .footer__els__first
      .footer__els__second      
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('home')