doctype html
html(lang="en")
  include components/head.pug
  +head('Pump')
  body 
    header.header
      include components/header.pug
      +nav('home')

    main.main 
      section.privacy
        .privacy__body.container 
          h2.privacy__title Политика Конфиденциальности
          .privacy__item 
            h3.privacy__subtitle Политика Конфиденциальности сайта Prytec.com.ua
            p.privacy__p Администрация сайта Prytec.com.ua обязуется сохранять вашу конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности основана на требованиях Общего регламента о защите персональных данных Европейского Союза (GDPR). Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление контактов с посетителями данного сайта, осуществление услуг, связанных с направлением деятельности данного сайта, , а так же для указанных ниже действий.
          .privacy__item 
            h3.privacy__subtitle Сбор и использование персональных данных
            p.privacy__p Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия. При согласии с этим вы разрешаете нам собирать и использовать следующие данные: имя и фамилия, электронная почта, номер телефона, . Сбор и обработка ваших данных проводится соответствии с законами, действующими на территории Европейского Союза и в государстве Украина.
          .privacy__item 
            h3.privacy__subtitle Хранение данных, изменение и удаление
            p.privacy__p Пользователь, предоставивший свои персональные данные сайту boerger.com.ua имеет право на их изменение и удаление, а так же на отзыв своего согласия с их использованием. Срок, в течение которого будут храниться ваши персональные данные: 12 месяцев. При завершении использования ваших данных администрация сайта удаляет их. Для доступа к своим персональным данным вы можете связаться с администрацией сайта по следующему адресу: ООО «ПРАЙТЕК», ул. Туполева 8, оф.22, Украина, г. Киев 03062. Мы можем передавать ваши личные данные третьей стороне только с вашего добровольного согласия, если они были переданы, то изменение данных в других организациях, не связанных с нами, мы осуществить не можем.
          .privacy__item 
            h3.privacy__subtitle Использование технических данных при посещении сайта
            p.privacy__p При посещении вами сайта Prytec.com.ua в базе данных сохраняются записи о вашем IP адресе, времени посещения, настройках браузера, операционной системе, а также другая техническая информация необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно идентифицировать личность посетителя.
          .privacy__item 
            h3.privacy__subtitle Предоставление информации детьми
            p.privacy__p Если Вы являетесь родителем или опекуном, и вы знаете, что ваши дети предоставили нам свои личные данные без Вашего согласия, свяжитесь с нами: ООО «ПРАЙТЕК», ул. Туполева 8, оф.22, Украина, г. Киев 03062. На нашем сервисе запрещено оставлять личные данные несовершеннолетних без согласия родителей или опекунов.
          .privacy__item 
            h3.privacy__subtitle Использование cookies
            p.privacy__p Для корректного отображения содержимого и для удобства использования сайта boerger.com.ua мы используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту запомнить информацию о вас, например на каком языке вы просматриваете сайт и какие страницы вы уже открывали, эта информация будет полезна при следующем посещении. Благодаря файлам cookie просмотр сайта становится значительно более удобным. Подробнее про эти файлы вы можете прочитать тут. Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать cookie может ограничить работоспособность сайта.
          .privacy__item 
            h3.privacy__subtitle Использование персональных данных другими сервисами
            p.privacy__p На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от нас сбор информации: Собранные ими данные могут предоставляться другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы своей собственной рекламной сети.  Вы можете прочитать пользовательские соглашения этих организаций на их сайтах. Там же вы можете отказаться от сбора ими персональных данных, к примеру блокировщик Google Analytics находится тут, блокировщик Яндекс Метрики тут. Мы не передаем персональные данные другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет только передача информации при законных требованиях государственных органов уполномоченных осуществлять данные действия.
          .privacy__item 
            h3.privacy__subtitle Ссылки на другие сайты
            p.privacy__p Наш сайт Prytec.com.ua может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете, если она там есть.
          .privacy__item 
            h3.privacy__subtitle Изменения в политике конфиденциальности
            p.privacy__p Наш сайт paperpump.com.ua может обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице. Мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в государстве Украина. Если вы оставили персональные данные у нас, то мы оповестим вас об изменении в политике конфиденциальности. Если ваши персональные данные были введены не корректно, то мы не сможем с вами связаться.
          .privacy__item 
            h3.privacy__subtitle Обратная связь, заключительные положения
            p.privacy__p Связаться с администрацией сайта paperpump.com.ua по вопросам, связанным с политикой конфиденциальности можно по адресу: info@prytec.com.ua, +380442299453, +380963109305, либо с помощью контактной формы указанной в соответствующем разделе данного сайта. Если вы не согласны с данной политикой конфиденциальности, вы не можете пользоваться услугами сайта paperpump.com.ua, в этом случае вы должны воздержаться от посещения нашего сайта.
    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('home')