doctype html
html(lang="en")
  include components/head.pug
  +head('Pump')
  body 
    header.header
      include components/header.pug
      +nav('home')
    .pump 
      .pump__header
        .row 
          .col-8.col-lg-6.pump__header__violete
          .col-4.col-lg-6.pump__header__gray
        .row 
          .col-8.col-lg-6.pump__header__yellow
            .pump__header__yellow__el
            h1.pump__header__title Насосное оборудование
          .col-4.col-lg-6.pump__header__red
      .pump__content.container
        .row 
          .col-12.col-lg-4.pump__item
            a(href="andritz.html").pump__item__link 
              img(src="images/andritz.webp", alt="").pump__item__img
              p.pump__item__desc ЦЕНТРОБЕЖНЫЕ НАСОСЫ
              p.pump__item__title ANDRITZ
          .col-12.col-lg-4.pump__item
            a(href="borger.html").pump__item__link 
              img(src="images/borger.webp", alt="").pump__item__img
              p.pump__item__desc РОТОРНЫЕ НАСОСЫ
              p.pump__item__title BÖRGER
          .col-12.col-lg-4.pump__item
            a(href="abaque.html").pump__item__link 
              img(src="images/abaque.webp", alt="").pump__item__img
              p.pump__item__desc ПЕРИСТАЛЬТИЧЕСКИЕ НАСОСЫ
              p.pump__item__title ABAQUE
        .row 
          .col-12.col-lg-4.pump__item
            a(href="eccentric-mouvex.html").pump__item__link 
              img(src="images/mouvex.webp", alt="").pump__item__img
              p.pump__item__desc ЭКСЦЕНТРИКОВЫЕ НАСОСЫ
              p.pump__item__title MOUVEX
          .col-12.col-lg-4.pump__item
            a(href="#!").pump__item__link 
              img(src="images/mouvex-2.webp", alt="").pump__item__img
              p.pump__item__desc ШИБЕРНЫЕ НАСОСЫ
              p.pump__item__title MOUVEX
          .col-12.col-lg-4.pump__item
            a(href="#!").pump__item__link 
              img(src="images/finder.webp", alt="").pump__item__img
              p.pump__item__desc ВАКУУМНЫЕ НАСОСЫ
              p.pump__item__title FINDER
        .row 
          .col-12.col-lg-4.pump__item
            a(href="#!").pump__item__link 
              img(src="images/teikoku.webp", alt="").pump__item__img
              p.pump__item__desc ГЕРМЕТИЧНЫЕ НАСОСЫ
              p.pump__item__title TEIKOKU

    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('home')