doctype html
html(lang="en")
  include components/head.pug
  +head('Shredder Rotorakke')
  body 
    header.header
      include components/header.pug
      +nav('home')
    .shredder__content.container
      h1.title.shredder__title Измельчители BÖRGER
      .row 
        .col-12.col-lg-4.shredder__item
          p.shredder__item__p Производительность до 400 м³/ч
          .pump__item.shredder__item__content
            a(href="multichopper.html").pump__item__link.shredder__item__link 
              img(src="images/shredder-1.webp", alt="").pump__item__img
              p.pump__item__title.shredder__item__title ИЗМЕЛЬЧИТЕЛЬ MULTICHOPPER
        .col-12.col-lg-4.shredder__item
          p.shredder__item__p Производительность до 800 м³/ч
          .pump__item.shredder__item__content
            a(href="multicrusher.html").pump__item__link.shredder__item__link 
              img(src="images/shredder-2.webp", alt="").pump__item__img
              p.pump__item__title.shredder__item__title ИЗМЕЛЬЧИТЕЛЬ MULTICRUSHER
        .col-12.col-lg-4.shredder__item
          p.shredder__item__p Производительность до 320 м³/ч
          .pump__item.shredder__item__content
            a(href="rotorakke.html").pump__item__link.shredder__item__link 
              img(src="images/shredder-3.webp", alt="").pump__item__img
              p.pump__item__title.shredder__item__title ИЗМЕЛЬЧИТЕЛЬ ROTORRAKE
    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('home')