doctype html
html(lang="en")
  include components/head.pug
  +head('Teikoku Pump')
  body 
    header.header
      include components/header.pug
      +nav('about')
    .pump__product-intro#top
      .pump__product-intro__top 
        .pump__product-intro__category.container 
          a(href="pump.html").pump__product-intro__category__handler Насосы /
          a(href="#!").pump__product-intro__category__current Герметичные насосы
        .container
          h1.pump__product-intro__title ГЕРМЕТИЧНЫЕ НАСОСЫ TEIKOKU
    .pump__product-content.row 
      .col-12.col-lg-6.pump__product-content__left.teikou__product-content__left
        p.pump__product-content__left__desc Официальный дистрибьютор насосного оборудования Teikoku на территории Украины
        img(src="images/teikoku-2.webp", alt="pump andritz").pump__product-content__left__img
      .col-12.col-lg-6.pump__product-content__right 
        .pump__product-content__right__top
          img(src="images/teikoku-3.webp", alt="pump andritz").pump__product-content__right__top__img
        .pump__product-content__right__bottom.mouvex__product-content__right__bottom
          a(href="#!").pump__product-content__right__bottom__btn скачать каталог
          a(href="contact.html").pump__product-content__right__bottom__btn.current Cвязаться с нами
    .pump__advantages.teikoku__advantages
      .container 
        h1.title.pump__advantages__title Основные преимущества насосов Teikoku
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-1.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Отсутствие утечек
            p.teikoku__advantages__p Перекачка токсичных, взрывоопасных, дорогих, опасных и агрессивных жидкостей без утечк
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-2.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Герметичность
            p.teikoku__advantages__p Идеально подходит для закрытых вакуумных систем или для жидкостей, которые реагируют на контакт с воздухом.
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-3.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Отсутствие  торцевого уплотнения
            p.teikoku__advantages__p Не требует сальникового и механического уплотнений, а также других уплотнительных колец. Полное отсутствие уплотнительный систем между вращающимися и неподвижными частями насоса. Отсутствие механических торцевых уплотнений и сальников приводит к высокой надежности и гарантии герметичности, а также к отсутствию затрат на ремонт уплотнений и замену трущихся частей.
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-4.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Отсутствие смазки и её контроля
            p.teikoku__advantages__p Охлаждение и смазка двигателя и подшипников осуществляется с помощью перекачиваемой жидкости. Поэтому не требуется проверка уровня смазки и её регулярный контроль. 
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-5.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Компактный дизайн
            p.teikoku__advantages__p Электродвигатель и насос представляют собой единый блок. Не требуется проводить центровку насоса и подготавливать сложный фундамент.
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-6.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Бесшумная работа герметичного насоса
            p.teikoku__advantages__p Низкий уровень шума, так как для охлаждения двигателя не используются вентиляторы. Все вращающиеся детали расположены внутри толстого корпуса.
        .teikoku__advantages__row 
          img(src="images/teikoku-ad-7.webp", alt="").teikoku__advantages__img
          .teikoku__advantages__content 
            h1.teikoku__advantages__title Не требует обслуживания
            p.teikoku__advantages__p поскольку отсутствует необходимость в регулярном контроле смазки и протечек.
      .teikoku__lineup.container
        h1.title.teikoku__lineup__title Модельный ряд
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип FA-V – для химических растворов
                p.teikoku__lineup__item__visible__p Расход: Макс. 380 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 180 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 110 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Герметичный насос FA-V используется для перекачивания различных химических растворов, так же при нагнетании под высоким давлением. Насосы могут использоваться в работе с радиоактивными жидкостями.
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип FW – с обратной циркуляцией
                p.teikoku__lineup__item__visible__p Расход: Макс. 420 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 160 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 120 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Вертикальный центробежный герметичный насос типа FW является компактной конструкцией с самовентилируемым внутренним пространством и оснащен полым валом. Малогабаритная монтажная площадка делает возможным их монтаж на скиде и в оборудовании других производителей. Герметичные насосы типа FW не требуют технического обслуживания (ТО) уплотнения и связанного с ним простоя. Насосы типа FW могут встраиваться непосредственно в трубопровод по принципу инлайн (в одну линию).
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип FM – многоступенчатый для химических растворов
                p.teikoku__lineup__item__visible__p Расход: Макс. 120 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 600 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 220 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Для чистой воды, горячей воды, химикатов, вакуумной серии, серии с высоким давлением и жидкостей с применением ядерной энергии, а так же для обратного осмоса, в электронике, фармацевтике и производстве полупроводников. Насосы данного типа имеют низкий уровень шума и низкий расход
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип FV – с внутренней циркуляцией и рубашкой
                p.teikoku__lineup__item__visible__p Расход: Макс. 380 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 180 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 220 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Для органических и неорганических химикатов в химической промышленности, вакуумной серии, для широкого ряда жидкостей без содержания твердых примесей, с высоким давлением, радиоактивных жидкостей и других сред ядерных реакторов. В насосе типа FV организована внутренняя циркуляция рабочей среды и модель может быть оснащена полым валом. Возможно исполнение из нержавеющих сталей 304 SS, 316 SS и других высоколегированных сталей и сплавов. Возможно оснащение герметичных насосов типа FV рубашкой нагрева или охлаждения корпуса, как двигателя, так и проточной части насоса.
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип F и тип FA – с наружным контуром промывки двигателя средой
                p.teikoku__lineup__item__visible__p Расход: Макс. 780 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 180 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 220 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Герметичные горизонтальные центробежные насосы типа F и типа FA предназначены для перекачивания органических и неорганических химикатов при работе под вакуумом или с высоким давлением, а также для использования в ядерной промышленности в том числе для перекачивания радиоактивных жидкостей.
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип RW – высоконапорный для летучих жидкостей
                p.teikoku__lineup__item__visible__p Расход: Макс. 780 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 350 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 220 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Модель RW разработана для бессальникового, герметичного перекачивания летучих жидкостей при высокой или низкой температуре под высоким давлением системы до и выше 35 MPa (5000 psi). Область применения от ядерных и химических процессов до циркуляции горячей воды в испытательных контурах и циркуляции очень важных жидкостей. Насосы типа RW могут встраиваться непосредственно в трубопровод по принципу инлайн (в одну линию).
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип R – с внутренней циркуляцией для летучих жидкостей и хладагентов
                p.teikoku__lineup__item__visible__p Расход: Макс. 780 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 180 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 220 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Самопромывающийся герметичный насос типа R с низким требуемым NPSH разработан для перекачивания летучих жидкостей, сжиженных газов и хладагентов таких, как аммиак, синтетические фреоны и другие жидкости с низкой точкой кипения. Существует горизонтальная и вертикальная модификация данного насоса. Возможна эксплуатация насоса типа R от очень низких до очень высоких температур рабочей среды.
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип RV – с внутренней циркуляцией для летучих углеводородов
                p.teikoku__lineup__item__visible__p Расход: Макс. 420 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 160 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 120 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Вертикальный герметичный насос типа RV с обратной циркуляцией разработан для перекачивания жидкостей с высоким давлением паров и летучих углеводородов. Вертикальная конструкция и обратная циркуляция обеспечивают более легкое вентилирование и стабильную длительную эксплуатацию в системах с низким NPSH. Насосы типа RV могут встраиваться непосредственно в трубопровод по принципу инлайн (в одну линию).
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип L – с индъюсером с уменьшенным NPSH
                p.teikoku__lineup__item__visible__p Расход: Макс. 96 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 35 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 37 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Центробежные герметичные насосы типа L комплектуются индъюсером и предназначены для работы с очень низким NPSH, в том числе и в глубоком вакууме. Широко используются для перекачивания жидкостей охлаждения рефрижераторов абсорбционного типа и абсорбирующих жидкостей. Насосы типа L изготавливаются во фланцевом исполнении или под сварку на месте
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Тип E – с индъюсером с уменьшенным NPSH
                p.teikoku__lineup__item__visible__p Расход: Макс. 420 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 160 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 120 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Вертикальный центробежный герметичный насос типа E размещается на монтажной плите и имеет контур обратной собственной циркуляции. Возможно оснащение на всасе индъюсером для уменьшения NPSH. Основным применением насоса типа E является перекачка сжиженных нефтяных газов.
        .teikoku__lineup__row.row 
          .col-12.col-lg-6
            .teikoku__lineup__item 
              .teikoku__lineup__item__visible 
                h1.teikoku__lineup__item__visible__title Насос для охлаждающих систем
                p.teikoku__lineup__item__visible__p Расход: Макс. 80 м3/ч
                p.teikoku__lineup__item__visible__p Общий напор: Макс. 80 м
                p.teikoku__lineup__item__visible__p Мощность: Макс. 11 кВт
              .teikoku__lineup__item__hidden 
                h1.teikoku__lineup__item__hidden__title Применение
                p.teikoku__lineup__item__hidden__p Насос для охлаждающей системы локомотива.
        a(href="#top").teikoku__top наверх 


    .footer__els.container
      .footer__els__first
      .footer__els__second
    footer.footer 
      include components/footer.pug 
      +footer
      .footer__nav
        +footer__nav('about')